body {
  /*max-width: 1050px;*/
  background: #1b1b23;
  background: #222222;
  color: #bfbfbf;
  padding: 3rem 0;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: #97bef9;
  text-decoration: none;
}

a:hover {
  color: #5982c1;
}

.footer {
  padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

html {
  padding-bottom: 100px;
}

img {
  max-width: 100%;
}
